@charset "utf-8";
/*-- Reset Foundation.. --------------------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333333;
}


/*font-family*/

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    margin: 0;
    font-weight: bold;
}

li {
    margin-left: 1.5rem;
}

/*ベースのフォントカラーは適宜変更*/

button,
optgroup,
select {
    margin: 0;
}

b,
em,
strong {
    font-style: normal;
    font-weight: bold;
}

div,
p {
    margin: 0;
}

small,
label,
legend {
    font-size: 1.2rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/*テーブル*/

.table_wrap {
    margin: 40px 0;
}

table {
    border-bottom: 1px solid #B5B5B5;
}

thead,
tbody,
tfoot {
    border: 0;
}

tbody th {
    background-color: #F2FAFF;
    text-align: left;
    border-top: 1px solid #B5B5B5;
    padding: 20px 10px 20px 30px;
}

tbody td {
    background: #fff;
    border-top: 1px solid #B5B5B5;
    padding: 20px 10px 20px 30px;
}


/*リンク*/

a,
a:hover,
a:focus {
    color: inherit;
}

a {
    transition: .3s;
    color: #033F92;
    text-decoration: none;
}

a:hover {
    color: #033F92;
    text-decoration: underline;
}

div a:hover {
    opacity: 1;
}

.btn_wrap {
    margin: 40px 0;
}

.btn {
    display: inline-block;
    line-height: 1;
    font-size: 1.5rem;
    background-color: #033F92;
    border: 2px solid #033F92;
    color: #FFFFFF;
    padding: 12px 36px 12px 15px;
    font-weight: bold;
    position: relative;
}

.btn.back {
    padding: 12px 15px 12px 36px;
}

.btn.center {
    padding: 12px 25px;
}

.btn.white {
    background-color: #fff;
    color: #033F92;
}

.btn i.fas {
    position: absolute;
    right: 12px;
    top: 30%;
}

.btn.back i.fas {
    position: absolute;
    left: 12px;
    right: unset;
    top: 30%;
}

.btn.white .arrow_white {
    stroke: #033F92;
}

.btn:hover {
    color: #033F92;
    background-color: #FFFFFF;
    border: 2px solid #033F92;
    text-decoration: none;
}

.btn.white:hover {
    color: #fff;
    background-color: #033F92;
    border: 2px solid #033F92;
}

.btn:hover .arrow_white {
    stroke: #033F92;
}

.btn.white:hover .arrow_white {
    stroke: #fff;
}


/*page_top*/

#page_top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 10;
}

#page_top a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #033F92;
    text-decoration: none;
    display: block;
    position: relative;
}

#page_top a::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-top: 2px solid #033F92;
    border-left: 2px solid #033F92;
    transform: rotate(45deg);
    position: absolute;
    position: absolute;
    top: 42%;
    left: 16%;
    transition: 0.3s;
}

#page_top a:hover {
    background-color: #033F92;
}

#page_top a:hover::after {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}


/*topic_path*/

.topic_path {
    margin-bottom: 40px;
    font-size: 1.4rem;
}

.topic_path li .here {
    color: #033F92;
    pointer-events: none;
}

.topic_path li a:hover {
    text-decoration: underline;
}


/*link_list*/

.link_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link_list li {
    margin: 0;
}

.link_list li a {
    color: inherit;
    display: block;
    border-bottom: 1px solid #979797;
    padding: 12px 0;
    position: relative;
    padding-left: 27px;
}

.link_list li a:hover {
    text-decoration: underline;
}

.link_list li a::after {
    content: "\f061";  /* fa-arrow-right */
    position:absolute;
    font-family: 'Font Awesome 5 Free';
    top: 13px;
    left: 5px;
    color: #033F92;
}

/*list_text*/

.list_text {
    margin-bottom: 20px;
}

.list_text li {
    margin-left: 15px;
}

.list_text.list_text.number li {
    margin-left: 22px;
}

.list_text span {
    font-weight: bold;
    margin-left: -21px;
}

.list_text.number span {
    font-weight: normal;
}

.list_text .list_ml {
    margin-left: 30px;
    margin-bottom: 0;
}


/*text_link*/

.text_link {
    color: #033F92;
    text-decoration: underline;
}

.text_link:hover {
    color: #033F92;
    text-decoration: none;
}


/*pdf_list*/

.pdf_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pdf_list li {
    margin: 0 0 30px 0;
}

.pdf_list li a {
    display: block;
    padding: 12px 0;
    margin-right: 20px;
    color: inherit;
    border-bottom: 1px solid #cccccc;
}

.pdf_list li a:hover {
    text-decoration: underline;
}

.pdf_list li a span.pdf {
    border: 1px solid #033F92;
    padding: 1px 4px;
    font-size: 1rem;
    color: #033F92;
    font-weight: bold;
    margin-left: 15px;
    display: inline-block;
}

.pdf_list li a span.small {
    font-size: 1.4rem;
}


/* page_nation */

ul.page_nation {
    text-align: center;
    margin-top: 60px;
}

ul.page_nation li {
    text-align: center;
    display: inline-block;
}

ul.page_nation li a {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #333;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

ul.page_nation li a.arrow {
    position: relative;
    width: 25px;
}

ul.page_nation li a.arrow::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: solid 2px #033F92;
    border-right: solid 2px #033F92;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(225deg);
    position: absolute;
    top: 70%;
    right: 12px;
}

ul.page_nation li a.arrow.right::after {
    transform: rotate(45deg);
}

ul.page_nation li.activ {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #033F92;
    color: #fff;
    font-weight: bold;
}


/* social widgets */

div.social-widgets {
    text-align: right;
    margin-top: 1em;
}


/*news_list*/

.news_list {
    border-top: 1px solid #cccccc;
}

.news_list span.no_link,
.news_list a.detail_link {
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    background: url(../images/arrow.svg) 98% center / auto no-repeat;
    color: inherit;
    position: relative;
    cursor: default;
}

.news_list span.no_link {
    color: #555;
}

.news_list a.detail_link:hover {
    text-decoration: none;
}

.news_list span.no_link p,
.news_list a.detail_link p {
    margin-bottom: 0;
}

.news_list a.detail_link {
    cursor: pointer;
}

.news_list a.detail_link:hover .text {
    text-decoration: underline;
}

.news_list a.detail_link::after {
    content: "\f054";  /* fa-chevron-right */
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    top: 40%;
    right: 5px;
    color: #033F92;
}


/*top トップページ*/

.top ul {
    margin: 0;
    list-style-type: none;
}

.top ol {
    margin: 0;
    list-style-type: none;
}

.top li {
    margin: 0;
    padding: 0;
}

/*detail カスタマイズ用テンプレート*/

.detail p {
    margin-bottom: 0;
}

.detail h2 div {
    line-height: 1;
    margin-bottom: 10px;
}

.detail .day {
    color: #033F92;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
}

.detail .content_box {
    margin-bottom: 40px;
}

.detail .center_image {
    margin-top: 30px;
}

.detail .center_image img {
    max-width: 620px;
}

.detail .center_movie iframe {
    max-width: 620px;
    width: 100%;
    height: 380px;
}

.detail .text_image .text_box {
    width: 60%;
}

.detail .text_image img {
    width: 36%;
}

.detail .text_movie .text_box {
    width: 60%;
}

.detail .text_movie iframe {
    max-width: 360px;
    width: 100%;
    min-height: 220px;
}

.detail .h3_wrap {
    margin-bottom: 40px;
}

.detail .h3 {
    margin-bottom: 20px;
}

.detail .two_column li {
    width: 48%;
}

.detail .three_column li {
    width: 31.4%;
}

.detail .two_column li img,
.detail .three_column li img {
    margin-bottom: 20px;
}

.detail .two_column li p,
.detail .three_column li p {
    margin-bottom: 0;
}

.detail table {
    border-right: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
}

.detail .table02 th {
    text-align: center;
    border-right: 1px solid #b5b5b5;
    padding: 20px 10px;
}

.detail .table02 td {
    border-right: 1px solid #b5b5b5;
}

.detail .table02 th:last-of-type,
.detail .table02 td:last-of-type {
    border-right: 0;
}

/* downloads */

main.download .grid-x {
    width: 100%;
}

main.download .card h4 {
    margin: 0.3em 0;
}

main.download .card img:hover {
    opacity: 0.6;
}

/* license */

main.license .card {
    font-size: 1.2rem;
}

main.license .card-image {
    height: 70px;
    overflow-y: hidden;
    background-color: #f3f3f3;
    text-align: center;
}

#image-list {
    max-width:100%;
}

/* article */

main.article h1 {
    font-size: 2.8rem;
}

main.article h1.cover {
    text-align: center;
    padding: 100px;
    background: #F2FAFF;
}

main.article h2 {
    clear: both;
    font-size: 2.6rem;
    padding-bottom: 8px;
    border-bottom: 2px solid #033F92;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 30px;
}

main.article h3 {
    clear: both;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
    border-left: 4px solid #033F92;
    margin: 40px 0 15px;
}

main.article h4 {
    font-size: 1.8rem;
    margin: 40px 0 15px;
}

main.article h5 {
    font-size: 1.6rem;
    margin: 20px 0 10px;
    font-weight: normal;
    text-decoration: underline;
}

main.article ul p,
main.article li p {
    margin: 0;
}

main.article pre code {
    border: none;
    background-color: inherit;
    padding: 0;
}

main.article .press-release-subtitle {
    font-size: 160%;
    opacity: 0.7;
    margin: 0;
}

main.article figcaption {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    margin: 0.7em 0;
    font-weight: bold;
}

main.article .press-release-subtitle-small {
    font-size: 130%;
    opacity: 0.7;
    margin: 0.5em 0;
}

main.article .press-release-signature {
    text-align: right;
    margin-bottom: 2em;
}

main.article .press-release-signature p {
    margin: 0px;
}

main.article nav.tags p,
nav.blog-tags p {
    display: inline;
    margin: 0;
    padding: 0;
}

div.post nav.tags ul,
nav.blog-tags ul {
    display: inline;
    margin: 0;
    padding: 0;
}

div.post nav.tags li,
nav.blog-tags li {
    display: inline-block;
    list-style: none;
    margin: 2px;
    padding: 0;
}

main.article .tag {
    display: inline-block;
    line-height: 1;
    border: 1px solid #033F92;
    color: #033F92;
    font-size: 1.2rem;
    padding: 4px 8px;
    vertical-arign: top;
}

main.article .tag:hover {
    background-color: #033F92;
    color: #fff;
}

main.article .float-left,
main.article .float-right {
    max-width: 45%;
}

main.article .callout.float-left {
    margin-right: 1rem;
}

main.article .callout.float-right {
    margin-left: 1rem;
}

div.post-summary .excerpt {
    margin: 20px 0 40px 0;
}

div.post figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.post pre {
    border: 1px solid #AAA;
    padding: 0.5em;
    margin: 0.5em 0;
    position: relative;
    overflow: auto;
}

div.post dl {
    margin-left: 15px;
}

div.post blockquote {
    border: 1px solid #AAA;
    padding: 1em;
}

div.post p.source {
    margin-right: 1.5em;
    text-align: right;
    font-size: smaller;
    font-style: italic;
}

div.excerpt section.footnotes,
div.post section.footnotes {
    border-top: 1px solid #e6edf8;
    padding-top: 1em;
    font-size: 0.9em;
}

div.post div.social-widgets {
    margin-top: 0;
}

div.post div.rabbit-slide {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

div.post div.rabbit-slide iframe {
    box-sizing: content-box;
}

div.post div.rabbit-slide a {
    text-align: center;
}

div.post div.slideshare {
    width: 427px;
    margin-left: auto;
    margin-right: auto;
}

div.post div.slideshare-wide {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

div.post div.slideshare a {
    text-align: center;
}

div.post div.youtube {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

div.post div.video-640x480 {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

div.post div.video-640x480 a {
    text-align: center;
}

div.post div.youtube-4x3 {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.post div.nicovideo-thumbnail {
    width: 312px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.post nav.tags {
    text-align: right;
}

main.article .sidebar {
    padding-left: 1.5em;
}

main.article .sidebar h4 {
    margin: 0.5em 0 1em 0;
    text-align: center;
}

main.article nav.blog {
    margin-top: 1em;
    margin-bottom: 1em;
}

main.article nav.blog ul {
    display: block;
    text-align: center;
}

main.article nav.blog li {
    display: inline;
    list-style: none;
}

main.article nav.blog a.prev::before {
    content: "«";
}

main.article nav.blog a.next::after {
    content: "»";
}

main.article .post-metadata ul {
    display: block;
    margin: 0;
    padding: 0;
}

main.article .post-metadata li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

main.article .post-metadata span.date,
main.article .post-metadata span.author {
    color: #858585;
}

/*下層レイアウト*/

main p {
    margin-bottom: 20px;
}


.main_wrap .inner {
    max-width: 1040px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 20px auto 100px;
}

.main_wrap .inner .read_text {
    margin-bottom: 40px;
}

.main_wrap .inner .h3_wrap .btn {
    margin-bottom: 40px;
}

.bold {
    font-weight: bold;
}

.red_text {
    color: #EE0C0C;
    font-weight: bold;
}


/*見出し*/

.h1_wrap {
    height: 280px;
    display: flex;
    align-items: center;
    text-align: center;
}

h1,
.h1 {
    font-size: 3.2rem;
}

h1.logo {
    font-size: inherit;
}

h2,
.h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.h3 {
    font-size: 2.6rem;
    padding-bottom: 8px;
    border-bottom: 2px solid #033F92;
    margin-bottom: 15px;
    font-weight: bold;
}

.h3_wrap {
    margin-bottom: 55px;
}

.h3_wrap:last-of-type {
    margin-top: 0;
}

.h4 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
    border-left: 4px solid #033F92;
    margin: 40px 0 15px;
}

.h4_top {
    margin-top: 30px;
}

.h5 {
    font-size: 1.4rem;
}

.h6 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 30px 0 5px;
}


/*PCの場合*/

.pc {
    display: block;
}

.sp {
    display: none;
}

@media only screen and (max-width: 1000px) {
    /*btn*/
    .btn_wrap {
        margin: 30px 0;
    }
    /*pdf_list*/
    .pdf_list li {
        width: 47%;
        margin-right: 6%;
        margin-bottom: 30px;
    }
    .pdf_list li:nth-child(3n) {
        margin-right: 6%;
    }
    .pdf_list li:nth-child(2n) {
        margin-right: 0;
    }
    /*detail カスタマイズ用テンプレート*/
    .detail .text_image .text_box {
        width: 50%;
    }
    .detail .text_image img {
        width: 49%;
    }
    .detail .text_movie .text_box {
        width: 50%;
    }
}

@media only screen and (max-width: 767px),
only screen and (max-width: 896px) and (orientation: landscape) {
    body {
        font-size: 1.4rem;
    }
    p,
    div {
        font-size: 1.4rem;
    }
    small,
    label,
    legend {
        font-size: 1.4rem;
    }
    /*見出しフォントサイズ*/
    .h1 {
        font-size: 2.6rem;
    }
    .h1_wrap {
        height: 180px;
    }
    h2,
    .h2 {
        font-size: 2rem;
    }
    .h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .h3_wrap {
        margin-bottom: 35px;
    }
    .h4 {
        font-size: 1.6rem;
        margin-top: 30px;
    }
    .h5 {
        font-size: 1.6rem;
    }
    .h6 {
        font-size: 1.4rem;
        margin: 15px 0 5px;
    }
    /*PCの場合*/
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    /*topic_path*/
    .topic_path {
        display: none;
    }
    /*list_text*/
    .list_text span {
        margin-left: -18px;
    }
    /*pdf_list*/
    .pdf_list li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .pdf_list li a {
        padding: 10px 0;
    }
    .pdf_list li:nth-child(3n) {
        margin-right: 0;
    }
    .pdf_list li:nth-child(2n) {
        margin-right: 0;
    }
    /*page_nation*/
    ul.page_nation {
        margin-top: 40px;
    }
    ul.page_nation li.activ {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    /*detail カスタマイズ用テンプレート*/
    .detail .content_box {
        margin-bottom: 30px;
    }
    .detail .center_image {
        margin-top: 0;
    }
    .detail .center_movie iframe {
        height: 200px;
    }
    .detail .text_image {
        flex-direction: column-reverse;
    }
    .detail .text_image .text_box {
        width: 100%;
    }
    .detail .text_image img {
        width: 100%;
        margin-bottom: 20px;
    }
    .detail .text_movie {
        flex-direction: column-reverse;
    }
    .detail .text_movie .text_box {
        width: 100%;
    }
    .detail .text_movie iframe {
        width: 100%;
        margin-bottom: 20px;
    }
    .detail .two_column li,
    .detail .three_column li {
        width: 100%;
        margin-bottom: 30px;
    }
    .detail .two_column li:last-of-type,
    .detail .three_column li:last-of-type {
        margin-bottom: 0;
    }
    .detail tbody th,
    .detail tbody td {
        padding: 15px;
    }
    .detail .table01 tbody th,
    .detail .table01 tbody td {
        display: block;
        width: 100%;
    }
    .detail .table02 th {
        padding: 15px 10px;
    }
    /*下層レイアウト*/
    .main_wrap .inner {
        margin: 30px auto 60px;
    }
    .main_wrap .inner .read_text {
        margin-bottom: 30px;
    }
    main p {
        margin-bottom: 15px;
    }
}


/*適宜変更*/

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    font-size: 1.4rem;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    margin-bottom: 0;
}


/*-- PC レイアウト --------------------------------------------------------------------------*/


/*header*/

header {
    padding: 18px 20px;
    border-bottom: 2px solid #033F92;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

header ul {
    margin: 0;
    list-style-type: none;
}

header ol {
    margin: 0;
    list-style-type: none;
}

header li {
    margin: 0;
}

header .header-logo {
    max-width: 260px;
}

header .header-logo:hover {
    opacity: 0.8;
}

header .header-right-group {
    margin-left: auto;
}

.header-btn-search {
    margin-bottom: 16px;
}

.header-download-btn {
    width: 160px;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 14px;
}

.header-download-btn i {
    margin-left: 5px;
}

.header-download-btn:hover svg g .icon-color {
    fill: #033F92;
}

.header-form {
    position: relative;
    background-color: #EEEEEE;
    margin: 0 auto;
}

.header-search-btn {
    position: absolute;
    right: 5%;
    top: 30%;
    color: #7F7F7F;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.header-form input[type='search'] {
    background: #EEEEEE;
    height: 35px;
    border: none;
    padding: 0 10px;
}

.header-form input:focus {
    background: #EEEEEE;
    height: 35px;
    box-shadow: none;
    border: none;
}

.header-form input::placeholder {
    color: #7F7F7F;
}

header nav ul li a {
    margin-left: 30px;
    font-weight: bold;
    color: #333333;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

header nav ul li a:hover {
    color: #033F92;
    text-decoration: none;
}

header nav ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #033F92;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: .3s;
}

header nav ul li a:hover::after {
    transform: scale(1, 1);
}

.drawer-toggle.drawer-hamburger {
    display: none;
}


/*top*/

.top .inner {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

.top .mv {
    height: 480px;
}

.top .mv .inner {
    max-width: 1200px;
    padding: 0 100px;
}

.top .mv .slider li {
    width: 100%;
    height: 480px;
    padding-top: 70px;
    display: table;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
}

.top .mv .slider li .title {
    font-size: 4.8rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.4;
}

.top .mv .slider li .title span {
    font-size: 2.4rem;
    display: block;
    margin-top: 5px;
}

.top .mv .slider li .text {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 60px;
}

.top .mv .slider li a.btn {
    color: #033F92;
    background-color: rgba(255, 255, 255, .8);
}

.top .mv .slider li a:hover {
    background-color: rgba(3, 63, 146, .8);
    color: #fff;
}

.top .mv .slider {
    margin-top: 0;
}

.top .mv .bx-wrapper {
    border: 0;
    margin-bottom: 0;
}

.top .mv .bx-wrapper .bx-controls-direction a {
    width: 35px;
    height: 82px;
    top: 48%;
    z-index: inherit;
    text-indent: -9999px;
}

.top .mv .bx-wrapper .bx-prev {
    background: url('../3rdparty/jquery-bxslider/controls.png') no-repeat 0px -32px;
    left: 20px;
}

.top .mv .bx-wrapper .bx-next {
    background: url('../3rdparty/jquery-bxslider/controls.png') no-repeat -43px -32px;
    right: 20px;
}

.top .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 30px;
}

.top .bx-wrapper .bx-pager.bx-default-pager a {
    width: 14px;
    height: 14px;
    border-radius: 8px;
}

.top .bx-wrapper .bx-pager {
    color: #858585;
}

.top .bx-wrapper .bx-pager.bx-default-pager a:hover,
.top .bx-wrapper .bx-pager.bx-default-pager a.active,
.top .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #F2FAFF;
}

.top .about {
    background: #F2FAFF;

}

.top .about .inner {
    padding: 60px 20px 80px;
}

.top h2 {
    font-size: 3.6rem;
    color: #033F92;
    font-weight: bold;
    margin-bottom: 30px;
}

.top h2 span {
    font-size: 1.4rem;
    display: block;
    margin-top: 8px;
}

.top .about h2 {
    margin-bottom: 40px;
}

.top .about .text {
    margin-bottom: 60px;
    width: 48%;
}

.top section>.wrap {
    max-width: 1040px;
    padding: 60px 20px 80px;
    margin: 0 auto;
}

.top .topic,
.top .press_release {
    width: 47%;
}

.top .topic p,
.top .press_release p {
    margin-bottom: 0;
}

.top .news_list li {
    border-top: 1px solid #ccc;
}

.top .news_list li:last-of-type {
    border-bottom: 1px solid #ccc;
}

.top .news_list li a {
    padding: 15px 0;
}

.top .news_list li a:hover .text {
    text-decoration: underline;
}

.top .news_list li a:hover {
    text-decoration: none;
}

.top .news_list li a  {
    color: inherit;
}

.top .news_list li a .date {
    color: #033F92;
    font-size: 1.4rem;
    width: 95px;
}

.top .news_list li a .text {
    font-size: 1.5rem;
    width: calc(100% - 95px);
}

.top .news_list .btn {
    margin-top: 40px;
}

.top section.bg_blue {
    background-color: #F2FAFF;
    padding: 60px 0 80px;
}

.top section.bg_blue a {
    position: relative;
    max-width: 470px;
    width: 47%;
    overflow: hidden;
}

.top section.bg_blue a:first-of-type {
    margin-right: 6%;
}

.top section.bg_blue a h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.top section.bg_blue a img {
    transition: 0.3s;
}

.top section.bg_blue a:hover img {
    transform: scale(1.1);
    transition: 0.3s;
    transition-timing-function: ease;
}


/*service*/

.service .h1_wrap {
    background: url(../service/images/bg_h1_01.jpg) center /cover no-repeat;
}

.service .h1_wrap.groonga {
    background: url(../service/images/bg_h1_02.jpg) center /cover no-repeat;
}

.service .h1_wrap.other {
    background: url(../service/images/bg_h1_03.jpg) center /cover no-repeat;
}

.service .firefox-thunderbird .h1_wrap {
    background: url(../service/images/bg_h1_04.jpg) center /cover no-repeat;
}

.service .browserselector .h1_wrap {
    background: url(../service/images/bg_h1_05.jpg) center /cover no-repeat;
}

.service .h1_wrap.other h1 {
    color: #033F92;
}

.service .inner img {
    max-width: 520px;
    width: 100%;
    margin-top: 10px;
}

.service .apache-arrow .read_img img {
    max-width: 480px;
    margin-bottom: 10px;
}

.service .apache-arrow img {
    max-width: 680px;
}

.service .apache-arrow .commit_img img {
    max-width: 880px;
}

.service .firefox-thunderbird .content_l {
    max-width: 670px;
    width: 67%;
}

.service .firefox-thunderbird .content_r {
    max-width: 290px;
    width: 29%;
}

.service .firefox-thunderbird img {
    margin-top: 0;
}


/*about*/

main.about .h1_wrap {
    background: url(../about/images/bg_h1.jpg) center /cover no-repeat;
}

main.about h2.text-center {
    border: none;
}

main.about table {
    margin-bottom: 60px;
}

main.about table th {
    width: 32%;
}

main.about table th span {
    font-size: 1.5rem;
}

main.about table td p {
    margin-bottom: 10px;
}

main.about table dl dt {
    display: inline-block;
    width: 95px;
    font-size: 1.4rem;
    font-weight: bold;
}

main.about table dl dd {
    display: inline-block;
}

main.about table dl.last dt,
main.about table dl.last dd {
    margin-bottom: 0;
}

/*topic*/

main.topic h1 {
    margin-bottom: 30px;
}

main.topic .h1_wrap {
    background: url(../topic/images/bg_h1.jpg) center /cover no-repeat;
}

main.topic div.following p.following-mark {
	text-align: center;
}

main.topic p.afterpiece {
	margin-top: 2em;
	text-align: right;
}

/*press_release*/

.press_release .h1_wrap {
    background: url(../press_release/images/bg_h1.jpg) center /cover no-repeat;
}


/*recruit*/

main.recruit h1.cover {
    background: url(../recruitment/header.jpg) center /cover no-repeat;
}

main.recruit table.offer {
    font-size:0.9em;
    margin:3em 0;
}

/*blog*/

.blog .h1_wrap {
    background: url(../blog/images/bg_h1.jpg) center /cover no-repeat;
}

.blog .tag_wrap {
    margin-bottom: 40px;
}

.blog .tag_wrap .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog .tag {
    display: inline-block;
    line-height: 1;
    border: 1px solid #033F92;
    color: #033F92;
    font-size: 1.2rem;
    padding: 3px 8px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.blog .tag:hover {
    background-color: #033F92;
    color: #fff;
}

.blog .news_list .link_wrap {
    position: relative;
}

.blog .news_list a.detail_link {
    display: block;
}

.blog .news_list a.detail_link .date {
    margin-bottom: 5px;
}

.blog .news_list .link_wrap a.tag {
    position: absolute;
    left: 120px;
    top: 22px;
}

.blog.detail .tag {
    margin-left: 15px;
}

.blog.detail .blog_option {
    margin-bottom: 60px;
}

.blog.detail .relation {
    border: 2px solid #033F92;
    padding: 25px 30px;
    margin: 60px 0 20px;
}

.blog.detail .relation .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog.detail .blog_option .relation .list_text {
    margin-bottom: 0;
}


/*footer*/

footer {
    background-color: #033F92;
    color: #fff;
    padding: 40px 0 20px;
}

footer ul {
    margin: 0;
    list-style-type: none;
}

footer ol {
    margin: 0;
    list-style-type: none;
}

footer a {
    color: #fff;
}

footer .inner {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto 80px;
}

footer .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0 10px;
}

footer .text {
    font-size: 1.4rem;
}

footer .content_r ul li a {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1;
}

footer .content_r ul li:last-child a {
    margin-bottom: 0;
}

footer .sns_btn a {
    width: 30px;
    max-height: 30px;
    margin-right: 20px;
    font-size: 2em;
}

footer .content_r ul li {
    margin: 0;
}

footer .content_r .sns_btn a:last-of-type {
    margin-right: 0;
}

footer .content_r .sns_btn a:hover {
    opacity: 0.75;
}

footer .content_r .sns_btn a.youtube {
    width: 35px;
    padding-top: 2px;
}

footer .content_r .sns_btn a.twitter {
    padding-top: 2px;
}

footer .content_r ul li a:hover {
    text-decoration: underline;
}

footer .copy {
    text-align: center;
    font-size: 1.2rem;
}


/*-- ipad レイアウト --------------------------------------------------------------------------*/

@media only screen and (max-width: 1100px) {
    /*header*/
    header {
        padding: 14px 15px 14px 15px;
    }
    header .header-logo {
        width: 130px;
    }
    header .header-right-group.pc {
        display: none;
    }
    .drawer-open header .drawer-nav {
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        padding: 30px 15px 0;
        opacity: 0.95;
    }
    .drawer-toggle.drawer-hamburger {
        width: 30px;
        display: block;
        position: absolute;
    }
    .drawer--right header .drawer-hamburger,
    .drawer--right.drawer-open header .drawer-hamburger {
        top: 0;
        right: 10px;
    }
    header .drawer-hamburger-icon,
    header .drawer-hamburger-icon:after,
    header .drawer-hamburger-icon:before {
        background-color: #033F92;
    }
    .drawer--right .drawer-hamburger,
    .drawer--right.drawer-open .drawer-nav,
    .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
        top: 60px;
    }
    .header-form input[type="search"] {
        font-size: 1.5rem;
    }
    .header-download-btn {
        margin: 20px auto;
        background-color: #033F92;
        font-weight: bold;
    }
    .header-download-btn p {
        color: #FFFFFF;
        font-size: 1.4rem;
    }
    footer .content_r .sns_btn {
        margin: 35px auto 0;
    }
    header nav ul li a {
        margin-left: inherit;
        border-top: 1px solid #858585;
        padding: 4px 0;
    }
    header nav ul li:last-of-type a {
        border-bottom: 1px solid #858585;
    }

    #page_top {
        right: 20px;
        bottom: 40px;
    }
}


/*-- SP レイアウト --------------------------------------------------------------------------*/

@media only screen and (max-width: 767px),
only screen and (max-width: 896px) and (orientation: landscape) {

    main.article h1.cover {
        font-size: 2em;
        padding: 60px;
    }

    main.article figure.right {
        float:none;
        max-width: 70%;
        margin: 10px auto;
    }

    /*detail カスタマイズ用テンプレート*/
    .detail .scroll_table {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    /*top*/
    .top .mv {
        text-align: center;
        height: 400px;
    }
    .top .mv .inner {
        padding: 0;
    }
    .top .mv .slider li {
        padding-top: 40px;
        height: 400px;
    }

    .top .mv .slider li .title {
        font-size: 2.6rem;
        margin-bottom: 15px;
    }
    .top .mv .slider li .title span {
        font-size: 1.6rem;
        margin-top: 5px;
    }
    .top .mv .slider li .text {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 30px;
        padding: 0 60px;
        text-align: left;
    }
    .top .mv .slider li a.btn {
        margin: 0 auto;
    }

    .top .mv .bx-wrapper .bx-prev {
        left: 15px;
    }

    .top .mv .bx-wrapper .bx-next {
        right: 15px;
    }

    .top .bx-wrapper .bx-pager.bx-default-pager a {
        width: 8px;
        height: 8px;
    }
    .top .bx-wrapper .bx-pager {
        bottom: 15px;
    }
    .top h2 {
        font-size: 2.6rem;
        margin-bottom: 15px;
    }
    .top .about {
        background: url(../images/bg_about_sp.jpg)center / cover no-repeat;
    }
    .top .about .inner {
        padding: 35px 15px 60px;
        text-align: center;
    }
    .top .about h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    .top .about .text {
        width: 100%;
        margin-bottom: 100px;
        font-size: 1.5rem;
        text-align: left;
        padding: 0 45px;
    }
    .top .news_list {
        display: block;
    }
    .top .topic,
    .top .press_release {
        width: 100%;
    }
    .top section>.wrap {
        padding: 40px 15px 60px;
    }
    .top .press_release {
        padding-top: 60px;
    }
    .top section.bg_blue {
        padding: 40px 0 60px;
    }
    .top section.bg_blue a {
        width: 100%;
        margin: 0 auto;
    }
    .top section.bg_blue a:first-of-type {
        margin-right: inherit;
        margin-bottom: 30px;
    }
    /*service*/
    .service .h1_wrap.other {
        background: url(../service/images/bg_h1_03_sp.jpg) center /cover no-repeat;
    }
    .service .h1_wrap.h1_wrap.firefox-thunderbird {
        background: url(../service/images/bg_h1_04_sp.jpg) center /cover no-repeat;
    }
    .service p.mb {
        margin-bottom: 15px;
    }
    .service .list_text {
        margin-bottom: 20px;
    }
    .service .inner img {
        margin-top: 20px;
    }
    .service .firefox-thunderbird .content_l,
    .service .firefox-thunderbird .content_r {
        max-width: inherit;
        width: 100%;
    }

    /*recruit*/
    main.recruit h1.cover {
        background: url(/recruitment/header_sp.jpg) center /cover no-repeat;
    }

    /*topic*/

    .topic .news_list a {
        padding: 15px 0;
        background: url(../images/arrow.svg) 98% center / 20px auto no-repeat;
    }
    .topic .news_list a .date {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .topic .news_list a .text {
        width: 100%;
        padding-right: 40px;
    }

    header nav ul li a {
        margin-left: 0;
    }
    /*press_release*/
    .press_release .h1_wrap {
        background: url(../press_release/images/bg_h1_sp.jpg) center /cover no-repeat;
    }
    /*blog*/
    .blog .h1_wrap {
        background: url(../blog/images/bg_h1_sp.jpg) center /cover no-repeat;
    }
    .blog .tag_wrap {
        margin-bottom: 20px;
    }
    .blog .news_list .link_wrap a.tag {
        left: 80px;
        top: 12px;
    }
    .blog .blog_option {
        margin-bottom: 40px;
    }
    .blog .relation {
        padding: 20px;
    }
    .blog .relation .title {
        font-size: 16px;
    }
    div.post div.rabbit-slide {
        width: 360px;
    }
    div.post div.rabbit-slide iframe {
        width: 320px;
        height: 284px;
    }
    div.post div.rabbit-slide-wide iframe {
        height: 224px;
    }
    footer .content_l {
        text-align: center;
    }
    footer .content_l img {
        max-width: 200px;
    }
    footer .content_l .title {
        font-size: 1.6rem;
    }
    footer .content_l .text {
        margin-bottom: 30px;
    }

    footer .content_r ul:first-of-type li {
        margin-left:1.5rem;
    }

    footer .content_r ul li a {
    footer .content_r ul li a {
        font-size: 1.2rem;
    }
    footer .content_r .sns_btn {
        margin: 35px auto 0;
    }
    footer .copy p {
        font-size: 1.2rem;
    }
    #page_top a {
        width: 40px;
        height: 40px;
    }
    #page_top a::after {
        width: 15px;
        height: 15px;
        top: 40%;
        left: 4%;
    }
}
