---
layout: default
main_title: 新型コロナウイルス感染症拡大に備えた完全在宅勤務に関するお知らせ
sub_title:
type: topic
---

<p>当社は新型コロナウイルス感染防止対策の一環として、2020年4月6日（月）から、すべての従業員が在宅勤務を行うことなりましたので、お知らせします。<br>
御取引先様におかれましては、以下の対応によってご不便をおかけしますが、ご理解賜りますようよろしくお願い申し上げます。</p>

<p>■弊社の対応方針</p>

<ol>
<li>今般の状況を鑑み、2020年4月6日（月）から在宅勤務に切り替えます。
在宅勤務の終了時期は現時点では未定であり、行政等の方針に従い判断する予定です。</li>
<li>期間中は対面でのお打合せを禁止します。打ち合わせはテレビ会議や電話会議による実施をお願いします。</li>
<li>弊社外線電話につきましては、事務所内に社員不在となるため、お掛けいただいても対応できません。ご連絡の際は担当の携帯電話、メールもしくは、弊社<a href="/contact/">お問い合わせフォーム</a>にご連絡ください。</li>
</ol>
