---
layout: default
main_title: Firefox/Thunderbirdサポートサービス
sub_title:
type: service
keyword: firefox91, Thunderbird91
---

<p>※Mozilla、Firefox、Thunderbirdは、Mozilla Foundationの米国およびその他の国における商標または登録商標です。</p>

<section id="superiority">
  <h2>創業以来の信頼と実績</h2>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>当社では2006年の創業以来、ユーザー数50人から8万人までさまざまな規模の50社以上のお客さまに、FirefoxやThunderbirdなどのMozilla製品の技術サポートをご提供しています。</p>
      <p>担当エンジニアはMozilla製品への開発にもコミュニティの一員として協力しており、サポート事業の中で判明した物も含め多数のフィードバックを行ってきた実績があります。確かな知識に基づくサービスにより、他では対応不可能な事例にも対応できる事業者としてご好評を頂いています。</p>
      <p>導入支援からカスタマイズ対応、サポートサービスまで様々なサービス提供しています。お客様のニーズに合わせて柔軟に組み合わせご提案することも可能です。お気軽に<a href="{% link contact/index.md %}">お問合せください。</a></p>
    </div>
    <div class='cell medium-4'><img src="superiority.png" alt=""></div>
  </div>
</section>


<section id="supports">
  <h2>サポート内容</h2>

  <h3>導入支援</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>お客さまごとの運用内容に合わせ、Firefox/Thunderbirdのカスタマイズ実施、ならびにカスタマイズ済みFirefox/Thunderbirdの展開支援を承っております。これまでおこなってきた多くの企業様の支援から得た知見をもとにお客様のご要望に対してのご提案も行います。</p>
      <ul>
        <li>状況に合わせた設定ファイルの作成</li>
        <li>運用要件を満たす上で必要な機能を付与するアドオンの開発</li>
        <li>カスタマイズ済みFirefoxまたはThunderbirdをサイレントインストールするインストーラ（メタインストーラ）の作成</li>
        <li>IEとFirefoxの共存環境の実現（使用WebブラウザのWebサイトごとの動的な切り替え）</li>
        <li>長期サポート版リリース時の更新サポート（変更点のレポート）</li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="supports-install.png" alt=""></div>
  </div>

  <h3>アドオン開発・改修</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <ul>
        <li><a href="https://addons.mozilla.org/firefox/addon/ie-view-we/">IE View WE</a>：指定のルールにマッチするURLのページを自動的に他のブラウザで開く</li>
        <li><a href="https://addons.mozilla.org/firefox/addon/ime-mode-we/">ime-mode-we</a>：Linuxデスクトップ環境で日本語入力システムのON/OFFをコンテンツ側で制御する</li>
        <li><a href="https://addons.mozilla.org/firefox/addon/upload-blocker/">Upload Blocker</a>：ファイルのアップロードを禁止する</li>
        <li><a href="https://addons.thunderbird.net/thunderbird/addon/flex-confirm-mail/">Flex Confirm Mail</a>：Thunderbirdのアドオン。メール誤送信を防止する様々な確認事項（送信先の確認、メール内容の確認、CC/TOに入力が多い時のアラート通知、ブラックリストの設定など）を用途・必要性に応じて柔軟に設定できる</li>
      </ul>
      <p>このほか、状況・ご要望に応じてアドオンの開発、メンテナンス、既存アドオンの改修などを承っております。過去の開発実績については<a href="https://addons.mozilla.org/ja/firefox/user/182999/">Mozilla Add-onsにて公開中のアドオン一覧</a>、<a href="https://addons.thunderbird.net/ja/thunderbird/user/clearcode-inc/">Thunderbird Add-onsにて公開中のアドオン一覧</a>をご参照下さい。</p>
    </div>
    <div class='cell medium-4'><img src="addons.png" alt=""></div>
  </div>

  <h3>技術サポート</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>Firefox・Thunderbirdの運用上で発生した障害やご要望について、原因箇所の特定、実現・回避手段の調査および実装を承っております。</p>
      <ul>
        <li>開発元によるサポートが終了した古いバージョンでの障害対応</li>
        <li>Windows以外のプラットフォーム（Linux、macOS、Android）での障害対応</li>
        <li>ソースコードまで辿っての調査、暫定回避策としてのアドオン開発</li>
        <li>開発元への報告、パッチ提供</li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="supports-technical.png" alt=""></div>
  </div>
</section>


<section id="style">
  <h2>サービス提供形態</h2>

  <h3>インシデントサポート</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>時間制チケットを事前にご購入頂き、ご依頼を受けての実作業に消費した工数に応じて消費していく形態です。作業内容が流動的なケースや、障害発生時の対応、お問い合わせに基づく調査など、事前の工数見積もりが難しいケースに適しています。</p>
    </div>
    <div class='cell medium-4'><img src="style-incidents.png" alt=""></div>
  </div>

  <h3>受託開発</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>要件定義に基づいて作業を実施し、成果物を納品する形態です。Firefox/Thunderbirdの導入支援、アドオン開発や機能追加のご依頼など、作業内容や成果物が明確なケースに適しています。</p>
    </div>
    <div class='cell medium-4'><img src="style-development.png" alt=""></div>
  </div>

  <h3>コンサルティング</h3>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <p>Firefox/Thunderbirdに基づく製品やサービスの開発・運用、自社内でのFirefox/Thunderbirdの運用などに際し、技術的見地から各種の分析やアドバイスを実施致します。</p>
    </div>
    <div class='cell medium-4'><img src="style-consulting.png" alt=""></div>
  </div>
</section>

<section id="examples">
  <h2>サポート事例のモデルケース</h2>
  <p>※以下の内容は特定のサポート事例ではなく、いくつかのサポート事例の要素を組み合わせた架空のモデルケースとなります。</p>

  <h3>ケース1：不要な通信を抑制するように設定したFirefoxの全社展開支援</h3>
  <h4>前提</h4>
  <ul>
    <li>1000台のWindows 10ファットクライアントを運用中。</li>
    <li>Active Directoryでユーザーを管理している。</li>
    <li>アプリケーションはSCCMを用いて各クライアントに配信している。</li>
  </ul>

  <h4>課題</h4>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <ul>
        <li>朝の始業時間になるとトラフィックや接続数が急増し、社内システムの使用に支障が生じて業務が滞ってしまっている。</li>
        <li>会社の基幹ネットワークそのものを増強することはすぐには難しい。</li>
        <li>ユーザーのITリテラシはそれほど高くないため、各自で適切に対応するというのは難しい。</li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="example-1-before.png" alt=""></div>
  </div>

  <h4>解決</h4>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <ul>
        <li>Firefoxの集中管理設定の仕組みを使い、不要な通信を削減するように設定した。これにより、始業時のトラフィック急増が軽減される。</li>
        <li>Fx Meta Installerを使い、Firefoxのインストールと集中管理用ファイルの配置を完全に自動で行う。また、ファイルはSCCMで配信し、ログオン時またはログオフ時に自動実行する。これにより、ヒューマンエラーを防止しながら端末への確実な反映を実現する。</li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="example-1-after.png" alt=""></div>
  </div>

  <h4>資料のダウンロード</h4>
  <ul>
    <li>不要な通信を削減するための設定ファイル：
      <ul>
        <li><a href="https://github.com/clear-code/firefox-support-common/blob/v68.2.0/demonstration/resources/autoconfig.cfg">MCD</a></li>
        <li><a href="https://github.com/clear-code/firefox-support-common/blob/v68.2.0/demonstration/resources/policies.json">policies.json</a></li>
      </ul>
    </li>
    <li><a href="https://github.com/clear-code/firefox-support-common/releases/download/v68.2.0/FxMetaInstaller-source.zip">Firefoxのインストールと設定ファイルの配置を自動化するメタインストーラ（※Firefoxのインストーラは含まれません）</a></li>
  </ul>

  <h3>ケース2：IEとの使い分けを前提としたFirefoxのカスタマイズ</h3>
  <h4>前提</h4>
  <ul>
    <li>Windows Server 2016のホスト4台に対して各ユーザーがリモートデスクトップで接続するシンクライアント環境。</li>
    <li>独自の社内システムがInternet Explorer 11に依存している。</li>
    <li>G Suiteを含むインターネット上の公開のWebサービスを使用するためにFirefoxを使用している。</li>
  </ul>

  <h4>課題</h4>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <ul>
        <li>社内システム上のページからインターネット上のWebページが紹介されることがあるが、IEは外部ネットワークへの接続が禁止されており閲覧できない。</li>
        <li>G Suite上のGmailから社内システムのページが紹介されることがあるが、Firefoxでそのページを開くとエラーで閲覧できない。</li>
        <li>社内システムの刷新は時間も予算もかかるため、すぐには難しい。</li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="example-2-before.png" alt=""></div>
  </div>

  <h4>解決</h4>

  <div class='grid-x grid-padding-x'>
    <div class='cell medium-8'>
      <ul>
        <li>Firefoxについては、<a href="https://addons.mozilla.org/firefox/addon/ie-view-we/">IE View WE</a>をプリインストールし、社内システムのURLを自動的にIEを起動する対象として登録済みの状態とする集中管理用設定ファイルを配置する手順を案内した。
            <ul>
              <li>これにより、Firefox上で社内システム上のURLをクリックするとスムーズにIEに遷移するようにした。</li>
            </ul>
        </li>
        <li>IEについては、<a href="{% link services/browserselector.html %}">BrowserSelector</a>をプリインストールし、社内システムのURL以外を自動的にFirefoxを起動する対象として登録済みの状態とする設定を反映する手順を案内した。
            <ul>
              <li>これにより、社内システム上で社外のURLをクリックするとスムーズにFirefoxに遷移するようにした。</li>
            </ul>
        </li>
      </ul>
    </div>
    <div class='cell medium-4'><img src="example-2-after.png" alt=""></div>
  </div>

  <h4>関連資料のダウンロード</h4>
  <ul>
    <li><a href="{% link downloads/thunderbird-introduction.md %}">Thunderbird資料</a></li>
    <li><a href="https://addons.mozilla.org/firefox/addon/ie-view-we/">IE View WE</a></li>
    <li><a href="https://github.com/clear-code/ieview-we/blob/master/managed-storage/policies.json">ポリシー設定ファイルによるIE View WEの設定例</a></li>
  </ul>

  <h4>複数ブラウザを利用する環境でのブラウザ運用にはBrowserSelectorがおすすめです</h4>
    <ul>
    <li><a href="{% link services/browserselector.html %}">BrowserSelector</a></li>
    <li><a href="https://gitlab.com/clear-code/browserselector/tree/master/sample">BrowserSelectorの設定例</a></li>
  </ul>
</section>

