---
layout: default
main_title: Mozillaサポート　実績のご紹介
sub_title:
---


<p>当社では、お客様のご要望に合わせた形へのFirefoxやThunderbirdのカスタマイズの実施や、一括導入のご支援、導入後に起こったトラブルへの対応の支援など、Mozilla製品をご利用になられるにあたっての様々な問題に対する技術的サポートをご提供しております。</p>
<ul>
	<li><a href="menu.html">Mozillaサポート　メニュー一覧へ</a></li>
	<li><a href="../">サービス一覧へ戻る</a></li>
</ul>


<h2>FxAddonInstaller <span class="sub">- Firefox &amp; Thunderbirdアドオン用高機能インストーラ</span></h2>
<p><img src="fxaddoninstaller.png" alt="" class="photo">
FirefoxまたはThunderbirdへ任意のアドオンや変更された設定ファイルを自動的にインストールすることができる、Windows用インストールウィザードです。</p>
<p>FirefoxまたはThunderbirdが導入されていない環境においては、公式Webサイトやあらかじめ設定済みのファイル共有サーバなどから自動的にFirefoxやThunderbirdをダウンロードして、ユーザに代わってインストールを行うことも可能です。この機能により、カスタマイズ済みFirefoxのインストーラパッケージ一式を用意することなく、Firefoxのインストールから特定環境向けの初期設定の完了までを完全に自動化することができ、大規模の一括導入にもご利用いただけます。</p>


<h2>My Theme <span class="sub">- Firefox &amp; Thunderbird用テーマカスタマイズアドオン</span></h2>
<p><img src="mytheme.png" alt="" class="photo">
FirefoxおよびThunderbirdのテーマ（デザイン）を変更するアドオンです。必要最小限の箇所のみを変更するため、フルセットのテーマ制作に比べて迅速な対応が可能となっております。</p>
<p>FxAddonInstallerと組み合わせることにより、キャラクターコンテンツやブランドイメージを展開するためのノベルティ・ソフトウェア、特定サービスへの誘導枠などとして、FirefoxおよびThunderbirdをご利用いただくことも可能となります。</p>
<h3>主な機能</h3>
<ul>
	<li>ウィンドウ背景に任意の画像を壁紙として設定する</li>
	<li>複数の壁紙の切り替え（オプション）</li>
	<li>一定間隔での壁紙の自動切り替え（オプション）</li>
	<li>特定のWebページを読み込むツールバーボタン（オプション）</li>
	<li>特定サービスへ誘導するブックマーク項目のブックマークツールバーへの自動登録（オプション）</li>
</ul>


<h2>各種パッチのご提供</h2>
<p>FirefoxおよびThunderbirdのお問い合わせサポートでのご対応において発見された問題について、問題を暫定的に回避するパッチを、導入が容易なアドオンとして開発しご提供させていただいております。</p>
<p>なお、開発されたパッチの一部は<a href="/software/tb/">Thunderbird用パッチの一覧</a>からご利用いただくことができます。</p>
<h3>ご提供中のThunderbird用パッチの例</h3>
<ul>
	<li>メッセージ中に埋め込まれた日本語を含むURIについて、URIエンコードされた箇所を自動的にデコードして表示する</li>
	<li>メッセージに添付されたWindowsショートカットを、ファイルとして保存せずに直接開けるようにする</li>
	<li>Microsoft OutlookとMicrosoft Exchengeサーバとの組み合わせなど、いくつかの環境から送信されるメールをThunderbirdで受信した際に、差出人・宛先・CC欄の表示が壊れることがある問題を解消する</li>
</ul>


<h2>Firefox &amp; Thunderbird用アドオン開発　技術支援</h2>
<p><a href="/software/uxu/">自動テスト実行ツール　UxU</a>のような、アドオン開発を支援する開発ツールをご提供しております。また、お客様においてアドオンを独自に開発される上での技術提供・支援も行っております。</p>


<p>※Mozilla、Firefox、Thunderbirdは、Mozilla Foundationの米国およびその他の国における商標または登録商標です。</p>
