---
layout: default
main_title: 明日2020年11月13日開催 PostgreSQL Conference Japan 2020に弊社堀本泰弘が登壇
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
16:10-17:00 PGroonga運用技法 ～PGroongaのWALを放置していませんか？～

<div class="press-release-signature">
  <p class="date">2020年11月12日</p>
  <p>株式会社クリアコード
</div>

<p>
オープンソースの全文検索エンジンGroongaを開発する株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤功平）は、特定非営利活動法人日本PostgreSQLユーザ会（JPUG）主催「PostgreSQL Conference Japan 2020」にて当社エンジニア堀本泰弘が、「PGroonga運用技法 ～PGroongaのWALを放置していませんか？～」というテーマで講演することをお知らせします。

<div class='figure'>
<img alt='PGCON 2020' src='20201112-pgcon/pgcon2020.png'>
</div>

<h2 id='overview'>PostgreSQL Conference Japan 2020の概要</h2>

<p>
毎年恒例となっている本カンファレンスは、日本PostgreSQLユーザ会（JPUG）が主催する、日本におけるPostgreSQL最大のイベントです。

<table>
<tr><th>日時</th><td>2020年11月13日 (金) 開場 9:30、開始 10:00、終了 18:00</td></tr>
<tr><th>場所</th><td>AP日本橋（東京都中央区）６階</td></tr>
<tr><th>内容</th><td>午前2講演、午後3トラックにて12講演</td></tr>
<tr><th>参加人数見込み</th><td>180名 (一般参加110名程度)</td></tr>
<tr><th>参加費</th><td>一般参加 5,000円、チュートリアル付 8,000円</td></tr>
<tr><th>【公式サイト】</th><td><a href='https://www.postgresql.jp/jpug-pgcon2020'>https://www.postgresql.jp/jpug-pgcon2020</a></td></tr>
</table>

<h2 id='talk'>講演の概要</h2>

<table>
<tr><th>講演日時</th><td>2020年11月13日 16:10-17:00</td></tr>
<tr><th>タイトル</th><td>PGroonga運用技法 ～PGroongaのWALを放置していませんか？～</td>
</table>

<p>
PGroongaはインストールも難しくなく、インデックスの設定もそれほど複雑ではないので、全言語対応の超高速全文検索機能を容易に利用できますが、ストリーミングレプリケーションなどのWALを使用した運用においては注意が必要な点があります。本講演では、後々トラブルが起きないようにPGroongaのWALをうまく使う方法について紹介します。

<p>
<b>【本講演のURL】</b> <a href='https://www.postgresql.jp/jpug-pgcon2020#A4'>https://www.postgresql.jp/jpug-pgcon2020#A4</a>

<h2 id='about-groonga'>Groongaについて</h2>

<p>
Groonga（グルンガ）は、オープンソースのカラムストア機能付き全文検索エンジンです。Groongaを使うことにより、高性能な全文検索機能を備えたアプリケーションを容易に開発することが可能です。

<p>
2010年に1.0.0をリリースしてから、着実にユーザを増やし、レストラン検索サイト、医療機関検索サイト、不動産物件情報サイト等で採用されています。

<p>
クリアコードは10年にわたりGroongaプロジェクトのメンバーとして、Gronnga本体及び関連プロジェクトの開発、リリース、コミュニティでのサポートを行っています。

<p>
また導入企業に対するGroongaおよび関連プロジェクトを使ったシステムや製品の開発支援を行っています。これら支援の一環としてお客様の要望を実現するためのGroonga本体の機能拡張も行っており、その成果はGroonga本体に取り込み、すべてのGroongaユーザーがその機能を利用できるようにしています。

<h2 id='about-pgroonga'>PGroongaについて</h2>

<p>
PGroonga（ピージールンガ）はPostgreSQLの拡張機能です。PGroongaはGroongaを使用した新しいインデックスアクセスメソッドを提供します。

<p>
PostgreSQL標準の全文検索機能は日本語や中国語などをサポートしていません。PGroongaをPostgreSQLにインストールすると全言語対応の超高速全文検索機能を使用できるようになります。さらに、PGroongaはJSON内のすべてのテキスト値に対する全言語対応全文検索もサポートしています。PGroongaは全文検索のことをあまり知らなくても簡単に使うことができるので、PGroongaを利用することで、簡単にPostgreSQLで高性能で高速な全文検索ができるようになります。

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。

<p>
全文検索エンジンGroonga、Apache Arrow、Fluentdをはじめとしたフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。

<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、さらにビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<b>【Groongaプロジェクト】</b>
<a href='https://groonga.org/ja/'>https://groonga.org/ja/</a><br>
<b>【PGroongaプロジェクト】</b>
<a href='https://pgroonga.github.io/ja/'>https://pgroonga.github.io/ja/</a><br>
<b>【コーポレートサイト】</b>
<a href='/'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='/press-releases/20201112-pgcon.html'>https://www.clear-code.com/press-releases/20201112-pgcon.html</a>
